.btn-outline-primary:hover,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.btn-outline-primary:not([disabled]):not(.disabled).active{
    background: #9C232A;
    border: 1px solid #9C232A;
}

.btn-outline-primary {
    border: 1px solid #9C232A;
    color: #9C232A;
}

.btn-primary:hover,
.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active{
    background: #9C232A;
    border: 1px solid #9C232A;
}

.btn-primary {
    background: #9C232A;
    border: 1px solid #9C232A;
    color: #fff;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    border: 1px solid #9C232A;
    color: #9C232A;
}

.btn-outline-primary.disabled:hover,
.btn-outline-primary:disabled:hover {
    background: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #9C232A;
    border-color: #9C232A;
}