html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.site-header {
    background: #fff;
    border-bottom: solid 3px #831632;
}

.contact-us-widget {
    position: fixed;
    right: 0;
    background-color: #495057;
    color: #fff;
    padding: 0.5em 0.7em 0.5em 1.1em;
    z-index: 9;
    border-radius: 1.5em 0 0 1.5em;
    top: 6.5em;
}
.contact-us-widget:hover {
    color: #fff;
}

.ec-langrich-logo {
    background-image: url("/images/ec-langich-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 8em;
    height: 2em;
}

.banner {
    background: url("/images/banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 29em;
    border-bottom: solid 3px #831632;
    border-radius: 0;
    background-size: cover;
    padding-top: 0;
}

.banner-intro {
    background: url("/images/banner-intro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 28.84em;
    width: 60em;
    position: relative;
}

#landing-intro-video {
    position: absolute;
    top: 4em;
    right: 4em;
    height: 21em;
    width: 35em;
}

section.jumbotron {
    margin-bottom: 0;
}

.features {
    padding: 0;
    background-image: -moz-linear-gradient(top,#fff 0,#efede5 100%);
    background-image: -webkit-gradient(linear,left top,right bottom,color-stop(0,#fff),color-stop(100%,#efede5));
    background-image: -webkit-linear-gradient(top,#fff 0,#efede5 100%);
    background-image: -o-linear-gradient(top,#fff 0,#efede5 100%);
    background-image: -ms-linear-gradient(top,#fff 0,#efede5 100%);
    background-image: linear-gradient(top,#fff 0,#efede5 100%);
}

.feature-main-title {
    background: url("/images/dialog_3star.png");
    background-repeat: no-repeat;
    padding-left: 1.7em;
    background-position: 0 20%;
    display: inline-block;
    font-weight: normal;
    color: #3c3c3c;
}
.feature-sub-title {
    font-size: 0.6em;
    display: block;
    color: #9e8f85;
    font-weight: normal;
}
.feature-item {
    padding-top: 1em;
    padding-bottom: 8.9em;
    border-left: dashed 1px #333;
}
.feature-item:last-child {
    border-right: dashed 1px #333;
}

.feature-item-1,
.feature-item-3,
.feature-item-5 {
    background: #fff;
}

.feature-item-1 {
    background-image: url("/images/fivefeature1.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.feature-item-2 {
    background-image: url("/images/fivefeature2.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.feature-item-3 {
    background-image: url("/images/fivefeature3.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.feature-item-4 {
    background-image: url("/images/fivefeature4.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.feature-item-5 {
    background-image: url("/images/fivefeature5.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.feature-item-1 h1 {
    color: #D16180;
}

.feature-item-2 h1 {
    color: #5A95D7;
}

.feature-item-3 h1 {
    color: #9FC72D;
}

.feature-item-4 h1 {
    color: #7D1991;
}

.feature-item-5 h1 {
    color: #197DAF;
}


.offer {
    background: #fff;
}

.offer-main-title {
    background: url("/images/icon_headphone.png");
    background-repeat: no-repeat;
    padding-left: 1.7em;
    background-position: 0 20%;
    font-weight: normal;
    color: #3c3c3c;
    border-bottom: solid 1px #ccc;
}

.user-voice-main-title {
    background: url("/images/voice-icon.png");
    background-repeat: no-repeat;
    padding-left: 2.4em;
    background-position: 0 20%;
    font-weight: normal;
    color: #3c3c3c;
    border-bottom: solid 1px #ccc;
}

.offer-sub-title {
    font-size: 0.6em;
    display: block;
    color: #9e8f85;
    font-weight: normal;
}

.point-item {
    font-size: 1.5em;
    color: #D70D6D;
}

.offer-point {
    font-size: 1.8em;
}

.point-2 {
    color: #0080FF;
}

.point-description {
    font-size: 0.9em;
}

.image-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 13em;
    width: 100%;    
}

.image-item-1 {
    background-image: url("/images/img-gallery1.jpg");
}
.image-item-2 {
    background-image: url("/images/img-gallery2.jpg");
}
.image-item-3 {
    background-image: url("/images/img-gallery3.jpg");
}
.image-item-4 {
    background-image: url("/images/img-gallery4.png");
}  

.how-it-works {
    background: url("/images/banner-upgrade.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 5%;
    border-radius: 0;
}

.commit-message {
    margin-top: 4.2em;
}
.percent-highlight {
    font-size: 5em;
    color: #FF4000;
    font-family: serif;
}

.guaranteed-highlight {
    color: #871c2c;
}

.lady-cheer {
    background: url("/images/lady.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 26em;
    width: 100%;
}

.banner-button {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 18em;
    width: 100%; 
    background-image: url("/images/big-button-banner-trans.png");
}

.icon-wls {
    background: url("/images/wls-icon.png");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 7em;
    width: 8em;
}

.icon-tutor {
    background: url("/images/tutor-icon.png");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 7em;
    width: 8em;  
}

.discount-banner-percent {
    background-image: url("/images/discount-banner-percent.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 21em;
    width: 100%;
}

.user-voice-link {
    color: #999;
    display: inline-block;
    font-size: 0.7em;
    background: #fff;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    padding: 0.2em 0.9em;
    -moz-border-radius: 1em;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.user-voice-link::before {
    display: inline-block;
    content: "≫";
    color: #ea9353;
    font-size: 1em;
    width: 1em;
    height: 1em;
    float: left;
    margin-top: -0.1em;
    margin-right: 0.1em;
}

.wls-message {
    font-size: 1.4em;
}

.tutor-message {
    font-size: 1.4em;
}

.latest-main-title {
    background: url("/images/dialog_3star.png");
    background-repeat: no-repeat;
    padding-left: 1.7em;
    background-position: 0 20%;
    font-weight: normal;
    color: #3c3c3c;
}

.latest-sub-title {
    font-size: 0.6em;
    display: block;
    color: #9e8f85;
    font-weight: normal;
}

.langrich-upgrade-step {
    background-image: url("/images/langrich_upgrade.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 26em;
    width: 100%;
}

.step-thumb {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 5em;
    width: 5em;

}

.step-wrap .fa-arrow-right {
    font-size: 2em;
    color: #9A0000;
}

.step-watch-thumb {
    background-image: url("/images/watch.png");
}


.step-learn-thumb {
    background-image: url("/images/learn.png");
}


.step-speak-thumb {
    background-image: url("/images/speak.png");
    height: 6em;
    width: 6em;
}

.step-golive-thumb {
    background-image: url("/images/golive.png");
}

.step-text {
    font-weight: bold;
    font-size: 0.95em;
}

.step-watch-text {
    color: #0097D4;
}

.step-learn-text {
    color: #E71200;
}

.step-speak-text {
    color: #8FC710;
}

.step-golive-text {
    color: #F6B700;
}

.activity-thumbnail-video {
    display: inline-block;
    cursor: pointer;
}

.activity-thumbnail-video video {
    height: 9.13em;
    width: 14.13em;
}
.activity-poster {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 9em;
    width: 14em;
}

.activity-watch-poster {
    background-image: url("/images/video-poster/watch.jpg");
}

.activity-learn-poster {
    background-image: url("/images/video-poster/learn.jpg");
}

.activity-speak-poster {
    background-image: url("/images/video-poster/speak.jpg");
}

.activity-golive-poster {
    background-image: url("/images/video-poster/golive.jpg");
}

.partners {
    background-color: #FAF9F6;
    box-shadow: 0 4px 2px rgba(0,0,0,.05)inset;
    -moz-box-shadow: 0 4px 2px rgba(0,0,0,.05)inset;
    -webkit-box-shadow: 0 4px 2px rgba(0,0,0,.05)inset;
}

.footer-content {

}

.powered-by {
    font-size: 0.8em;
}

.back-to-top {
    cursor: pointer;
    fon-size: 1em;
}

footer {
    background-color: #DDDDDD;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

@media (max-width: 575px) {
    .feature-item {
        border: none !important;
    }

    .ec-langrich-logo {
        background-image: url("/images/ec-langich-logo-min.png");
        width: 6em;
        height: 2em;
        margin-left: 0.4em;
    }

    .btn-signin,
    .btn-register {
        padding-right: 0.5em !important;
        padding-left:  0.5em !important;
    }

    .banner {
        height: 20em;
    }

    .banner-intro {
        background-image: none;
    }

    #landing-intro-video {
        height: 17em;
        width: 18em;
        position: relative;
        top: auto;
        right: auto;
        margin-top: 0.5em;
    }

    .gallery-wrap,
    .lady-cheer-wrap {
        display: none;
    }

    .step-wrap {
        justify-content: flex-start !important;
    }
}

@media (max-width: 780px) {
    .feature-item {
        border: none !important;
    }
}